<div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
  <div class="card-head">
    <div class="card-title">
      <h1>Solicitações</h1>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Titulo</th>

          <% if current_user.nivel_acesso == "Admin" %>
            <th>Usuário</th>
          <% end %>
          
          <th>Data da solicitação</th>

          <% if current_user.admin %>
            <th colspan="3" class="text-center h5">
          <% else %>
            <th colspan="2" class="text-center h5">
          <% end %>

            <%= link_to new_solicitacao_path, class: "ml-auto", title: "Criar nova" do %>
              <i class="fas fa-plus text-danger"></i>
            <% end %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @solicitacoes.each do |solicitacao| %>
          <tr class="text">
            <td><%= solicitacao.titulo %></td>

            <% if current_user.nivel_acesso == "Admin" %>
              <td><%= solicitacao.user.nome %></td>
            <% end %>

            <% if !solicitacao.data_solicitacao.nil? %>
              <td><%= solicitacao.data_solicitacao.strftime("%d/%m/%Y %H:%M") %></td>
            <% else %>
              <td></td>
            <% end %>

            <% if current_user.admin %>
              <td class="text-center px-1"><%= link_to solicitacao, title: "Detalhes" do %><i class="fas fa-info text-danger"></i><% end %></td>

              <td class="text-center px-0"><%= link_to edit_solicitacao_path(solicitacao), title: "Editar" do %><i class="fas fa-pen text-danger"></i><% end %></td>
            <% else %>
              <td class="text-center px-2"><%= link_to solicitacao, title: "Detalhes" do %><i class="fas fa-info text-danger"></i><% end %></td>
            <% end %>

            <td class="text-center px-1"><%= link_to solicitacao, method: :delete, data: { confirm: 'Você tem certeza?' }, title: "Apagar" do %><i class="fas fa-times text-danger"></i><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
