<div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
  <div class="card-head">
    <div class="card-title">
      <h1>Usuários</h1>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Login</th>
          <th>E-mail</th>
          <th>Cargo</th>
          <th>Nível de acesso</th>
          <th colspan="2" class="text-center h5">
            <%= link_to new_user_path, class: "ml-auto", title: "Criar novo usuário" do %>
              <i class="fas fa-plus text-danger"></i>
            <% end %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.nome %></td>
            <td><%= user.login %></td>
            <td><%= user.email %></td>
            <td><%= user.cargo %></td>
            <td><%= user.nivel_acesso %></td>
            <td class="text-center px-2"><%= link_to user, title: "Detalhes" do %><i class="fas fa-info text-danger"></i><% end %></td>
            <td class="text-center px-0"><%= link_to edit_user_path(user), title: "Editar" do %><i class="fas fa-pen text-danger"></i><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
