<p id="notice"><%= notice %></p>
<div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
  <div class="card-head">
    <div class="card-title">
      <h1>Reposicoes</h1>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Data de reposição</th>
          <th>Usuario</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @reposicoes.each do |reposicao| %>
          <tr>
            <td><%= reposicao.produto.nome %></td>
            <td><%= reposicao.quantidade %></td>
            <% if !reposicao.data_reposicao.nil? %>
              <td><%= reposicao.data_reposicao.strftime("%d/%m/%Y - %H:%M") %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= reposicao.user.nome %></td>
            <td><%= link_to 'Show', reposicao %></td>
            <!-- <td><%# link_to 'Edit', edit_reposicao_path(reposicao) %></td> -->
            <td><%= link_to 'Destroy', reposicao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="shared">
    <%= link_to 'New Reposicao', new_reposicao_path %>
  </div>
</div>
