<div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
  <div class="card-head">
    <div class="card-title">
      <h1>Lista de Produtos</h1>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Data devolucao</th>
          <th>Status</th>
          <th colspan="3" class="text-center h5">
            <%= link_to new_lista_produtos_path(solicitacao_id: params[:solicitacao_id]), class: "ml-auto" do %>
              <i class="fas fa-plus text-danger"></i>
            <% end %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @listas_produtos.each do |lista_produtos| %>
          <tr>
            <td><%= lista_produtos.produto.nome %></td>
            <td><%= lista_produtos.quantidade %></td>
            <% if !lista_produtos.data_devolucao.nil? %>
              <td><%= lista_produtos.data_devolucao.strftime("%d/%m/%Y - %H:00") %></td>          
            <% else %>
              <td></td>
            <% end %>
            <td><%= lista_produtos.status %></td>
            <td class="text-center px-1"><%= link_to lista_produtos_path(lista_produtos, solicitacao_id: params[:solicitacao_id]), title: "Detalhes" do %><i class="fas fa-info text-danger"></i><% end %></td>
            <td class="text-center px-0"><%= link_to edit_lista_produtos_path(lista_produtos, solicitacao_id: params[:solicitacao_id]), title: "Editar" do %><i class="fas fa-pen text-danger"></i><% end %></td>
            <td class="text-center px-1"><%= link_to lista_produtos_path(lista_produtos, solicitacao_id: params[:solicitacao_id]), method: :delete, data: { confirm: 'Você tem certeza?' }, title: "Apagar" do %><i class="fas fa-times text-danger"></i><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<br>

