<p id="notice"><%= notice %></p>

<div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
  <div class="card-head">
    <div class="card-title">
      <h1>Listas Produtos</h1>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Data devolucao</th>
          <th>Status</th>
          <th>Observacao</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @listas_produtos.each do |lista_produtos| %>
          <tr>
            <td><%= lista_produtos.produto.nome %></td>
            <td><%= lista_produtos.quantidade %></td>
            <% if !lista_produtos.data_devolucao.nil? %>
              <td><%= lista_produtos.data_devolucao.strftime("%d/%m/%Y - %H:00") %></td>          
            <% else %>
              <td></td>
            <% end %>
            <td><%= lista_produtos.status %></td>
            <td><%= lista_produtos.observacao %></td>
            <td><%= link_to 'Show', lista_produtos_path(lista_produtos, solicitacao_id: params[:solicitacao_id]) %></td>
            <td><%= link_to 'Edit', edit_lista_produtos_path(lista_produtos, solicitacao_id: params[:solicitacao_id]) %></td>
            <td><%= link_to 'Destroy', lista_produtos_path(lista_produtos, solicitacao_id: params[:solicitacao_id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="shared">
    <%= link_to 'Adicionar Produto a lista', new_lista_produtos_path(solicitacao_id: params[:solicitacao_id]) %> |
    <%= link_to 'voltar', solicitacoes_path %>
  </div>
</div>



<br>

