
<%= simple_form_for(@produto) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nome, label: "Nome:", required: true %>
    <%= f.input :tipo ,as: :select, collection: [[false, 'Consumivel'], [true, 'Reutilizavel']],
                label_method: :second, value_method: :first, prompt: "Escolha o tipo:", required: true %>
    <%= f.input :peso, label: "Peso:", required: true %>
    <%= f.input :linha, label: "Linha:", required: true %>
    <%= f.input :coluna, label: "Coluna:", required: true %>
    <%= f.input :codigo_barra, label: "Codigo de barras:", required: true %>
    <%= f.input :validade, label: "Validade:", start_year: Date.today.year, end_year: Date.today.year + 120, 
                order: [:day, :month, :year], prompt: {day: "Dia", month: "Mês", year: "Ano"}  %>
    <%= f.input :quantidade_minima, label: "Quantidade minima:", required: true %>
    <%= f.input :quantidade_maxima, label: "Quantidade maxima:", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar" %>
  </div>
<% end %>
