<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @produto.tipo %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @produto.peso %>
</p>

<p>
  <strong>Linha:</strong>
  <%= @produto.linha %>
</p>

<p>
  <strong>Coluna:</strong>
  <%= @produto.coluna %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @produto.validade.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Quantidade minima:</strong>
  <%= @produto.quantidade_minima %>
</p>

<p>
  <strong>Quantidade máxima:</strong>
  <%= @produto.quantidade_maxima %>
</p>

<p>
  <strong>Quantidade atual:</strong>
  <%= @produto.quantidade_atual %>
</p>

<p>
  <strong>Código barra:</strong>
  <%= @produto.codigo_barra %>
</p>

<p>
  <strong>Data entrada:</strong>
  <%= @produto.data_entrada %>
</p>

<p>
  <strong>Última entrada:</strong>
  <%= @produto.ultima_entrada %>
</p>

<p>
  <strong>Última retirada:</strong>
  <%= @produto.ultima_retirada %>
</p>

<p>
  <strong>Última devolução:</strong>
  <%= @produto.ultima_devolucao %>
</p>

<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
