<p id="notice"><%= notice %></p>
<div class="card bg-white text-danger mt-3 mb-3 px-5 pt-3 pb-1 shadow">
  <div class="card-head">
    <div class="card-title">
      <h1><%= @produto.nome %></h1>
    </div>
  </div>
  
  <div class="card-body">
    <p>
      <strong>Tipo:</strong>
      <%= @produto.tipo %>
    </p>

    <p>
      <strong>Peso:</strong>
      <%= @produto.peso %>
      <strong>Kg</strong>
    </p>

    <p>
      <strong>Linha:</strong>
      <%= @produto.linha %>
    </p>

    <p>
      <strong>Coluna:</strong>
      <%= @produto.coluna %>
    </p>

    <p>
      <strong>Codigo de barras:</strong>
      <%= @produto.codigo_barra %>
    </p>    

    <p>
      <strong>Validade:</strong>
      <% if @produto.validade != nil %>
        <%= @produto.validade.strftime("%d/%m/%Y") %>
      <% end %>
    </p>

    <p>
      <strong>Quantidade minima:</strong>
      <%= @produto.quantidade_minima %>
    </p>

    <p>
      <strong>Quantidade máxima:</strong>
      <%= @produto.quantidade_maxima %>
    </p>

    <p>
      <strong>Quantidade atual:</strong>
      <%= @produto.quantidade_atual %>
    </p>

    <p>
      <strong>Data entrada:</strong>
      <% if @produto.data_entrada != nil and @produto.data_entrada != "" %>
        <%= @produto.data_entrada.strftime("%d/%m/%Y") %>
      <% end %>
    </p>

    <p>
      <strong>Última entrada:</strong>
      <% if !@produto.ultima_entrada.nil? and @produto.ultima_entrada != "" %>
        <%= @produto.ultima_entrada.strftime("%d/%m/%Y") %>
      <% end %>
    </p>

    <p>
      <strong>Última retirada:</strong>
      <% if !@produto.ultima_retirada.nil? and @produto.ultima_retirada != "" %>
        <%= @produto.ultima_retirada.strftime("%d/%m/%Y") %>
      <% end %>
    </p>

    <p>
      <strong>Última devolução:</strong>
      <% if @produto.ultima_devolucao != nil and @produto.ultima_devolucao != "" %>
        <%= @produto.ultima_devolucao.strftime("%d/%m/%Y") %>
      <% end %>
    </p>
    <div class="shared">
      <%= link_to 'Editar', edit_produto_path(@produto) %> |
      <%= link_to 'Voltar', produtos_path %>
    </div>
  </div>
</div>
