<!DOCTYPE html>
<html>
  <head>
    <title>Batata</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="pragma" content="no-cache">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon" href="/assets/SigmaStockMini.png" type="image/png">
  </head>

  <body class="theme-dark">
    <div class="wrapper">
      <% if current_user %>
        <%= render "layouts/header" %>
      <% else %>
        <div class="container">
      <% end %>

        <% if notice %>
          <script>
            toastr["success"]("<%= notice %>");
          </script>
        <% end %>

        <% if alert %>
          <script>
            toastr["warning"]("<%= alert %>");
          </script>
        <% end %>

      	<%= yield %>
      </div>
    </div>
  </body>
</html>
